# OS
.DS_Store
desktop.ini
Icon?
workspace/

# IDE
.idea/
.claude/

# Experiments
wandb/
logs/
traces/
predictions/

# Dataset only
dataset/
GSM_hard/data/
GSM_hard/Turing_traces/
*.arrow
*.jsonl
*.lock

#package
SWE-bench/
metagpt/
SWE-Verified/metagpt/
metagpt_mas.MetaGPT_42.json


# Python
__pycache__/
*.pyc
.env